html * {
    font-family: 'Martian Mono', monospace;
}

body {
    margin: 0px;
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    text-align: center;
    flex-wrap: wrap;

}

.buttons * {
    font-size: 1.5em;
}

.final-score {
    margin-top: 0px;    
}